# http://editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
max_line_length = 80
trim_trailing_whitespace = true

[*.md]
insert_final_newline = true
# 行末の空白を自動的に削除しないように指定
trim_trailing_whitespace = false
